:root, [data-theme="default"] {
  /* primary */
  --color-primary-darker-hsl: 250, 84%, 38%;
  --color-primary-darker: hsl(var(--color-primary-darker-hsl));
  --color-primary-dark-hsl: 250, 84%, 46%;
  --color-primary-dark: hsl(var(--color-primary-dark-hsl));
  --color-primary-hsl: 250, 84%, 54%;
  --color-primary: hsl(var(--color-primary-hsl));
  --color-primary-light-hsl: 250, 84%, 60%;
  --color-primary-light: hsl(var(--color-primary-light-hsl));
  --color-primary-lighter-hsl: 250, 84%, 67%;
  --color-primary-lighter: hsl(var(--color-primary-lighter-hsl));

  /* accent */
  --color-accent-darker-hsl: 342, 89%, 38%;
  --color-accent-darker: hsl(var(--color-accent-darker-hsl));
  --color-accent-dark-hsl: 342, 89%, 43%;
  --color-accent-dark: hsl(var(--color-accent-dark-hsl));
  --color-accent-hsl: 342, 89%, 48%;
  --color-accent: hsl(var(--color-accent-hsl));
  --color-accent-light-hsl: 342, 89%, 56%;
  --color-accent-light: hsl(var(--color-accent-light-hsl));
  --color-accent-lighter-hsl: 342, 89%, 62%;
  --color-accent-lighter: hsl(var(--color-accent-lighter-hsl));

  /* black */
  --color-black-hsl: 230, 13%, 9%;
  --color-black: hsl(var(--color-black-hsl));

  /* white */
  --color-white-hsl: 0, 0%, 100%;
  --color-white: hsl(var(--color-white-hsl));

  /* warning */
  --color-warning-darker-hsl: 35, 79%, 48%;
  --color-warning-darker: hsl(var(--color-warning-darker-hsl));
  --color-warning-dark-hsl: 35, 79%, 56%;
  --color-warning-dark: hsl(var(--color-warning-dark-hsl));
  --color-warning-hsl: 35, 79%, 66%;
  --color-warning: hsl(var(--color-warning-hsl));
  --color-warning-light-hsl: 35, 79%, 74%;
  --color-warning-light: hsl(var(--color-warning-light-hsl));
  --color-warning-lighter-hsl: 35, 79%, 82%;
  --color-warning-lighter: hsl(var(--color-warning-lighter-hsl));

  /* success */
  --color-success-darker-hsl: 170, 78%, 26%;
  --color-success-darker: hsl(var(--color-success-darker-hsl));
  --color-success-dark-hsl: 170, 78%, 31%;
  --color-success-dark: hsl(var(--color-success-dark-hsl));
  --color-success-hsl: 170, 78%, 36%;
  --color-success: hsl(var(--color-success-hsl));
  --color-success-light-hsl: 170, 78%, 42%;
  --color-success-light: hsl(var(--color-success-light-hsl));
  --color-success-lighter-hsl: 170, 78%, 47%;
  --color-success-lighter: hsl(var(--color-success-lighter-hsl));

  /* error */
  --color-error-darker-hsl: 342, 89%, 38%;
  --color-error-darker: hsl(var(--color-error-darker-hsl));
  --color-error-dark-hsl: 342, 89%, 43%;
  --color-error-dark: hsl(var(--color-error-dark-hsl));
  --color-error-hsl: 342, 89%, 48%;
  --color-error: hsl(var(--color-error-hsl));
  --color-error-light-hsl: 342, 89%, 56%;
  --color-error-light: hsl(var(--color-error-light-hsl));
  --color-error-lighter-hsl: 342, 89%, 62%;
  --color-error-lighter: hsl(var(--color-error-lighter-hsl));

  /* background */
  --color-bg-darker-hsl: 240, 4%, 90%;
  --color-bg-darker: hsl(var(--color-bg-darker-hsl));
  --color-bg-dark-hsl: 240, 4%, 95%;
  --color-bg-dark: hsl(var(--color-bg-dark-hsl));
  --color-bg-hsl: 0, 0%, 100%;
  --color-bg: hsl(var(--color-bg-hsl));
  --color-bg-light-hsl: 0, 0%, 100%;
  --color-bg-light: hsl(var(--color-bg-light-hsl));
  --color-bg-lighter-hsl: 0, 0%, 100%;
  --color-bg-lighter: hsl(var(--color-bg-lighter-hsl));

  /* color contrasts */
  --color-contrast-lower-hsl: 240, 4%, 85%;
  --color-contrast-lower: hsl(var(--color-contrast-lower-hsl));
  --color-contrast-low-hsl: 240, 4%, 65%;
  --color-contrast-low: hsl(var(--color-contrast-low-hsl));
  --color-contrast-medium-hsl: 225, 4%, 47%;
  --color-contrast-medium: hsl(var(--color-contrast-medium-hsl));
  --color-contrast-high-hsl: 230, 7%, 23%;
  --color-contrast-high: hsl(var(--color-contrast-high-hsl));
  --color-contrast-higher-hsl: 230, 13%, 9%;
  --color-contrast-higher: hsl(var(--color-contrast-higher-hsl));
}

[data-theme="dark"] {
  /* primary */
  --color-primary-darker-hsl: 250, 100%, 60%;
  --color-primary-darker: hsl(var(--color-primary-darker-hsl));
  --color-primary-dark-hsl: 250, 100%, 64%;
  --color-primary-dark: hsl(var(--color-primary-dark-hsl));
  --color-primary-hsl: 250, 100%, 69%;
  --color-primary: hsl(var(--color-primary-hsl));
  --color-primary-light-hsl: 250, 100%, 72%;
  --color-primary-light: hsl(var(--color-primary-light-hsl));
  --color-primary-lighter-hsl: 250, 100%, 76%;
  --color-primary-lighter: hsl(var(--color-primary-lighter-hsl));

  /* accent */
  --color-accent-darker-hsl: 342, 92%, 41%;
  --color-accent-darker: hsl(var(--color-accent-darker-hsl));
  --color-accent-dark-hsl: 342, 92%, 47%;
  --color-accent-dark: hsl(var(--color-accent-dark-hsl));
  --color-accent-hsl: 342, 92%, 54%;
  --color-accent: hsl(var(--color-accent-hsl));
  --color-accent-light-hsl: 342, 92%, 60%;
  --color-accent-light: hsl(var(--color-accent-light-hsl));
  --color-accent-lighter-hsl: 342, 92%, 65%;
  --color-accent-lighter: hsl(var(--color-accent-lighter-hsl));

  /* black */
  --color-black-hsl: 230, 13%, 9%;
  --color-black: hsl(var(--color-black-hsl));

  /* white */
  --color-white-hsl: 0, 0%, 100%;
  --color-white: hsl(var(--color-white-hsl));

  /* warning */
  --color-warning-darker-hsl: 35, 79%, 48%;
  --color-warning-darker: hsl(var(--color-warning-darker-hsl));
  --color-warning-dark-hsl: 35, 79%, 56%;
  --color-warning-dark: hsl(var(--color-warning-dark-hsl));
  --color-warning-hsl: 35, 79%, 66%;
  --color-warning: hsl(var(--color-warning-hsl));
  --color-warning-light-hsl: 35, 79%, 74%;
  --color-warning-light: hsl(var(--color-warning-light-hsl));
  --color-warning-lighter-hsl: 35, 79%, 82%;
  --color-warning-lighter: hsl(var(--color-warning-lighter-hsl));

  /* success */
  --color-success-darker-hsl: 170, 78%, 26%;
  --color-success-darker: hsl(var(--color-success-darker-hsl));
  --color-success-dark-hsl: 170, 78%, 31%;
  --color-success-dark: hsl(var(--color-success-dark-hsl));
  --color-success-hsl: 170, 78%, 36%;
  --color-success: hsl(var(--color-success-hsl));
  --color-success-light-hsl: 170, 78%, 42%;
  --color-success-light: hsl(var(--color-success-light-hsl));
  --color-success-lighter-hsl: 170, 78%, 47%;
  --color-success-lighter: hsl(var(--color-success-lighter-hsl));

  /* error */
  --color-error-darker-hsl: 342, 92%, 41%;
  --color-error-darker: hsl(var(--color-error-darker-hsl));
  --color-error-dark-hsl: 342, 92%, 47%;
  --color-error-dark: hsl(var(--color-error-dark-hsl));
  --color-error-hsl: 342, 92%, 54%;
  --color-error: hsl(var(--color-error-hsl));
  --color-error-light-hsl: 342, 92%, 60%;
  --color-error-light: hsl(var(--color-error-light-hsl));
  --color-error-lighter-hsl: 342, 92%, 65%;
  --color-error-lighter: hsl(var(--color-error-lighter-hsl));

  /* background */
  --color-bg-darker-hsl: 232, 7%, 8%;
  --color-bg-darker: hsl(var(--color-bg-darker-hsl));
  --color-bg-dark-hsl: 233, 8%, 11%;
  --color-bg-dark: hsl(var(--color-bg-dark-hsl));
  --color-bg-hsl: 232, 11%, 15%;
  --color-bg: hsl(var(--color-bg-hsl));
  --color-bg-light-hsl: 233, 8%, 19%;
  --color-bg-light: hsl(var(--color-bg-light-hsl));
  --color-bg-lighter-hsl: 232, 7%, 22%;
  --color-bg-lighter: hsl(var(--color-bg-lighter-hsl));

  /* color contrasts */
  --color-contrast-lower-hsl: 240, 6%, 26%;
  --color-contrast-lower: hsl(var(--color-contrast-lower-hsl));
  --color-contrast-low-hsl: 240, 3%, 41%;
  --color-contrast-low: hsl(var(--color-contrast-low-hsl));
  --color-contrast-medium-hsl: 231, 3%, 57%;
  --color-contrast-medium: hsl(var(--color-contrast-medium-hsl));
  --color-contrast-high-hsl: 240, 5%, 82%;
  --color-contrast-high: hsl(var(--color-contrast-high-hsl));
  --color-contrast-higher-hsl: 240, 100%, 99%;
  --color-contrast-higher: hsl(var(--color-contrast-higher-hsl));
}