:root {
  --space-4xs: 0.25rem;  /* 4px */
  --space-3xs: 0.5rem;   /* 8px */
  --space-2xs: 0.75rem;  /* 12px */
  --space-xs:  1rem;     /* 16px */
  --space-sm:  1.5rem;   /* 24px */
  --space-md:  2rem;     /* 32px */
  --space-lg:  3rem;     /* 48px */ 
  --space-xl:  4.5rem;   /* 72px */
  --space-2xl: 7rem;     /* 112px */
  --space-3xl: 10.75rem; /* 172px */
  --space-4xl: 16rem;    /* 256px */
}