:root {
  /* font family */
  --font-primary: system-ui, sans-serif;

  /* line height */
  --heading-line-height: 1.2;
  --body-line-height: 1.4;

  /* type scale */
  --text-xs:   0.75rem;   /* 12px */
  --text-sm:   0.9375rem; /* 15px */
  --text-base: 1.125rem;  /* 18px */
  --text-md:   1.375rem;  /* 22px */
  --text-lg:   1.75rem;   /* 28px */
  --text-xl:   2.125rem;  /* 34px */
  --text-2xl:  2.5rem;    /* 40px */
  --text-3xl:  3.125rem;  /* 50px */
  --text-4xl:  3.75rem;   /* 60px */
}

body {
  color: var(--color-contrast-high);
  font-family: var(--font-primary);
  font-size: var(--text-base);
  line-height: var(--body-line-height);
}

h1, h2, h3, h4 {
  color: var(--color-contrast-higher);
  line-height: var(--heading-line-height);
  font-weight: 700;
}

h1 {
  font-size: var(--text-2xl);
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-md);
}

small {
  font-size: var(--text-sm);
}

/* text-component */
.text-component {
  --gap-y: 1rem;
  --heading-margin-top: 1.5rem;
}

.text-component :where(h1, h2, h3, h4) {
  margin-top: var(--heading-margin-top);
  margin-bottom: var(--gap-y);
}

.text-component :where(p, blockquote, ul li, ol li) {
  line-height: var(--body-line-height);
}

.text-component :where(ul, ol, p, blockquote, .text-component__block) {
  margin-bottom: var(--gap-y);
}

.text-component :where(ul, ol) {
  padding-left: 1.25em;
}

.text-component ul :where(ul, ol), 
.text-component ol :where(ul, ol) {
  padding-left: 1em;
  margin-bottom: 0;
}

.text-component ul {
  list-style-type: disc;
}

.text-component ol {
  list-style-type: decimal;
}

.text-component ul li::marker, 
.text-component ol li::marker {
  color: var(--color-contrast-lower);
}

.text-component figure {
  margin-top: var(--figure-margin-y, 2.5rem);
  margin-bottom: var(--figure-margin-y, 2.5rem);
}

.text-component img {
  margin: 0 auto;
}

.text-component figcaption {
  margin-top: var(--figcaption-margin-top, 0.5rem);
  font-size: var(--text-sm);
  color: var(--color-contrast-low);
  text-align: center;
}

.text-component em {
  font-style: italic;
}

.text-component strong {
  font-weight: bold;
}

.text-component s {
  text-decoration: line-through;
}

.text-component u {
  text-decoration: underline;
}

.text-component mark {
  background-color: hsla(var(--color-accent-hsl), 0.2);
  color: inherit;
  border-radius: var(--radius-md);
  padding: 0 0.25em;
}

.text-component blockquote {
  padding-left: 1em;
  border-left: 4px solid var(--color-contrast-lower);
  font-style: italic;
}

.text-component hr {
  margin: var(--heading-margin-top) auto;
  background: hsla(var(--color-contrast-higher-hsl), 0.09);
  height: 1px;
}

.text-component > *:first-child {
  margin-top: 0;
}

.text-component > *:last-child {
  margin-bottom: 0;
}

.text-component--article {
  --heading-line-height: 1.2;
  --body-line-height: 1.625;
  --gap-y: 1.5rem;
  --heading-margin-top: 2.5rem;
}